<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGo+ | 404 NotFound</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
  </head>

  <body class="h-full bg-gray-100 text-gray-800">
    <main class="container mx-auto">
      <div class="sm:px-10">
        <div class="px-7 sm:px-6 flex flex-col items-center space-y-4 p-6">
          <div class="bg-gray-800 border rounded-2xl">
            <img
              src="{% static 'images/404.png' %}"
              alt="404"
              class="max-h-96"
            />
          </div>
          <div class="flex flex-col items-center space-y-4">
            <div>
              <span>5 秒後將回至首頁</span>
              <span
                id="countdown"
                class="text-center text-[1.5rem] text-indigo-500"
                >5</span
              >
            </div>
            <a href="{% url 'home' %}" class="text-indigo-500">
              <span class="btn-md btn-in">回首頁</span>
            </a>
          </div>
        </div>
      </div>
    </main>

    <script>
      let time = 6;
      const countdownElement = document.getElementById("countdown");
      function updateCountdown() {
        countdownElement.innerText = time;
      }
      function countdown() {
        if (time > 0) {
          time--;
          updateCountdown();
          setTimeout(countdown, 1000);
        } else {
          window.location.href = "{% url 'home' %}";
        }
      }

      window.onload = countdown;
    </script>
  </body>
</html>
