<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
  </head>

  <body class="h-full bg-gray-100">
    <div class="container mx-auto">
      {% include 'navbar.html' %}

      <!--  -->
      {% block content %}
      <!-- 顯示內容 -->
      {% endblock content %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
