<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGo+ |{% block title %}{% endblock title %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
  </head>

  <body class="h-full bg-gray-100 text-gray-800">
    <main class="container mx-auto">
      <div class="sm:px-10">
        {% include 'navbar.html' %}

        <!--  -->
        {% block content %}
        <!-- 顯示內容 -->
        {% endblock content %}
      </div>
    </main>

    {% block scripts %}
    <!-- 使用 Javascript -->
    {% endblock %}
  </body>
</html>
