{% load static %}

<section class="border">
  <div class="flex items-center justify-between px-4 sm:px-6 py-4">
    <div>
      <a href="{% url 'home' %}" class="flex items-center space-x-2">
        <img src="{% static 'images/logo.png' %}" class="w-9" />
        <span class="hidden sm:block text-lg">ChatGo+</span>
      </a>
    </div>

    <div>
      {% if request.user.is_authenticated %}
      <div class="grid grid-cols-2 grid-rows-1 gap-x-4 sm:gap-x-4">
        <div class="flex items-center justify-end">
          <a href="{% url 'rooms' %}" class="text-indigo-500">聊天室</a>
        </div>
        <div class="flex items-center space-x-2">
          <div>
            <span>{{request.user}}</span>
          </div>

          <a href="{% url 'logout' %}" class="btn-md btn-in">登出</a>
        </div>
      </div>
      {% else %}

      <div class="flex items-center space-x-2">
        <!-- <div
          class="border-2 rounded-full border-indigo-400 w-[2.5rem] md:w-[2.4rem]"
        >
          <img
            src="{% static 'images/avatar.png' %}"
            class="border rounded-full"
          />
        </div> -->

        <a href="{% url 'login' %}" class="btn-md btn-in">登入</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
