{% extends 'main.html' %}
<!--  -->
{% block title %} 社群討論版 {% endblock title %}
<!--  -->

{% block content %}
<section>
  <div class="sm:grid grid-cols-12">
    <div class="hidden sm:block sm:col-span-3">
      <!-- 左側 sidebar -->
      {% include 'base/search_group_component.html' %}
    </div>

    <div class="sm:col-span-9">
      <!-- 右側 社群討論版 -->
      <div class="flex flex-col py-4 px-4 sm:px-6">
        <div class="sm:hidden mb-4">
          <form action="" method="GET">
            <div class="relative flex flex-wrap justify-center">
              <button
                class="flex items-center rounded-l bg-gray-200 pl-2 py-1.5"
                type="submit"
              >
                <i class="material-icons text-xl"> search </i>
              </button>

              <input
                name="q"
                type="text"
                class="placeholder:text-[0.9rem] bg-gray-200 focus:outline-none rounded-r px-1 w-10/12"
                placeholder="搜尋社群..."
              />
            </div>
          </form>
        </div>

        <div class="flex flex-row items-center justify-between px-4 pb-4">
          <span class="text-gray-500 text-[0.95rem]">社群討論</span>
          <a
            href="{% url 'create-public-room' %}"
            class="btn-md btn-in flex items-center space-x-2"
          >
            <i class="material-icons flex"> group_add </i>
            <span class="text-[0.95rem]">社群</span>
          </a>
        </div>

        <div class="overflow-hidden">
          <div class="relative overflow-y-auto h-[550px] sm:h-[650px]">
            <div class="grid sm:grid-cols-2 gap-4 px-4">
              {% for room in rooms %}
              <!--  -->
              {% if room.is_public == True %}
              <div
                class="border border-gray-100 bg-gray-200 rounded-lg overflow-hidden"
              >
                <div>
                  <div
                    class="public-rooms-title text-gray-100 flex items-center justify-between"
                  >
                    <span>{{room.name}}</span>
                    {% if request.user == room.host %}
                    <div class="flex space-x-1">
                      <a
                        href="{% url 'update-public-room' room.slug %}"
                        class="flex hover:text-indigo-500"
                      >
                        <i class="material-icons text-lg"> edit </i>
                      </a>
                      <a
                        href="{% url 'delete-public-room' room.slug %}"
                        class="flex hover:text-indigo-500"
                      >
                        <i class="material-icons text-lg"> clear </i>
                      </a>
                    </div>
                    {% endif %}
                  </div>

                  <div class="p-4 space-y-2">
                    <div class="space-y-1">
                      <div class="flex items-center justify-between">
                        {% if room.host.name %}
                        <a href="{% url 'user-profile' room.host.id %}">
                          <span class="text-indigo-500 text-[0.95rem]"
                            >{{room.host.name}}</span
                          >
                        </a>
                        {% else %}
                        <a href="{% url 'user-profile' room.host.id %}">
                          <span class="text-indigo-500 text-[0.95rem]"
                            >{{room.host}}</span
                          >
                        </a>
                        {% endif %}
                        <span class="text-gray-500 text-xs">
                          {{room.created|date:"m-d"}}
                        </span>
                      </div>

                      <div class="text-[1rem]">
                        <span>{{room.description|truncatechars:30 }}</span>
                      </div>
                    </div>

                    <div>
                      <a
                        href="{% url 'room' room.slug%}"
                        class="flex items-center space-x-2 text-indigo-500 hover:text-indigo-400"
                      >
                        <i class="material-icons text-[1.5rem] flex">
                          people_outline
                        </i>
                        <span class="text-[0.95rem]">參與</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              <!--  -->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
