<section>
  <div class="flex flex-col space-y-4 py-4 px-6">
    <div class="flex flex-row items-center justify-between px-4">
      <div class="text-[0.95rem] text-gray-500">
        <span>社群討論</span>
        <span class="text-indigo-500">{{rooms.count}} </span>
      </div>
      <a
        href="{% url 'create-public-room' %}"
        class="btn-md btn-in flex items-center justify-center"
      >
        <i class="material-icons flex"> add </i>
        <span class="text-[0.95rem]">新增社群</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <div class="relative overflow-y-auto h-[650px]">
        <div class="grid sm:grid-cols-2 gap-4 px-4">
          {% for room in rooms %}
          <!--  -->
          {% if room.is_public == True %}
          <div
            class="border border-gray-100 bg-gray-200 rounded-lg overflow-hidden"
          >
            <div>
              <div
                class="public-rooms-title text-gray-100 flex items-center justify-between"
              >
                <span>{{room.name}}</span>
                {% if request.user == room.host %}
                <div class="flex space-x-1">
                  <a
                    href="{% url 'update-public-room' room.slug %}"
                    class="flex hover:text-indigo-500"
                  >
                    <i class="material-icons text-lg"> edit </i>
                  </a>
                  <a
                    href="{% url 'delete-public-room' room.slug %}"
                    class="flex hover:text-indigo-500"
                  >
                    <i class="material-icons text-lg"> clear </i>
                  </a>
                </div>
                {% endif %}
              </div>

              <div class="p-4 space-y-2">
                <div class="space-y-1">
                  <div class="flex items-center justify-between">
                    <a href="{% url 'user-profile' room.host.id %}">
                      <span class="text-indigo-500">{{room.host}}</span>
                    </a>
                    <span class="text-gray-500 text-xs">
                      {{room.created|date:"m-d"}}
                    </span>
                  </div>

                  <div class="text-[1rem]">
                    <span>{{room.description|truncatechars:30 }}</span>
                  </div>
                </div>

                <div>
                  <a
                    href="{% url 'room' room.slug%}"
                    class="flex items-center space-x-2 text-indigo-500 hover:text-indigo-400"
                  >
                    <i class="material-icons text-[1.5rem] flex">
                      people_outline
                    </i>
                    <span class="text-[0.95rem]"> 參與 </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <!--  -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
