<section>
  <div class="flex flex-col space-y-4 py-4 px-6">
    <div class="flex flex-row justify-end">
      <a href="" class="btn-md btn-in flex items-center justify-center">
        <i class="material-icons flex"> add </i>
        <span>新增社群</span>
      </a>
    </div>
    <div class="border border-gray-800 rounded-lg overflow-hidden">
      <div class="py-2 px-6 bg-orange-400">
        <span>共享社群</span>
      </div>

      <div class="">
        <div class="grid sm:grid-cols-3 gap-4 p-4">
          {% for room in rooms %}
          <div class="rooms-border">
            <div class="grid grid-cols-1 gap-4">
              <div class="flex flex-col">
                <span class="text-lg">{{room.name}}</span>
                <div class="flex items-center justify-between">
                  <span class="text-indigo-500">房主: {{room.host}}</span>
                  <span class="text-gray-500 text-sm">
                    {{room.created|timesince}} 前
                  </span>
                </div>
              </div>
              <div>
                <a href="{% url 'room' room.slug%}" class="btn-md btn-in"
                  >參與</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
