{% load static %}

<section>
  <div class="p-4 relative overflow-auto">
    <div class="pb-4">
      <form action="" method="GET">
        <div class="relative flex flex-wrap justify-center">
          <button
            class="flex items-center rounded-l bg-gray-200 pl-2 py-1.5"
            type="submit"
          >
            <i class="material-icons text-xl"> search </i>
          </button>

          <input
            name="q"
            type="text"
            class="placeholder:text-[0.9rem] bg-gray-200 focus:outline-none rounded-r px-1 w-10/12"
            placeholder="搜尋社群..."
          />
        </div>
      </form>
    </div>

    <div class="pl-2 pr-4 relative overflow-y-auto h-[636px]">
      <ul class="space-y-3 text-[0.95rem]">
        <li>
          <div class="flex items-center justify-between">
            <a
              href="{% url 'rooms' %}"
              class="text-gray-500 hover:text-indigo-500"
            >
              <span> 全部 </span>
            </a>
            <span
              class="bg-indigo-500 border border-indigo-500 rounded-md text-gray-100 px-1.5"
            >
              {{rooms.count}}
            </span>
          </div>
        </li>
        {% for room in rooms %}
        <li class="hover:text-indigo-500">
          <div>
            <a href="{% url 'rooms' %}?q={{room.name}}">
              <span>{{room.name}}</span>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- 設定功能 -->
    {% if request.user.is_authenticated %}
    <div
      class="hidden sm:block bg-gray-100 bottom-0 w-full absolute p-2 text-[0.95rem] text-indigo-500"
    >
      <div
        class="overflow-hidden h-0 transition-all duration-1500 expand-webcontainer flex flex-col space-y-2"
        id="expand-webcontent"
      >
        <div class="flex items-center space-x-2 cursor-pointer">
          <i class="material-icons text-[1.3rem]"> info_outline </i>
          <span> 操作說明 </span>
        </div>
        <div class="flex items-center space-x-2 cursor-pointer">
          <i class="material-icons text-[1.3rem]"> help_outline </i>
          <span> 常見問題 </span>
        </div>
        <div class="flex items-center space-x-2 cursor-pointer">
          <i class="material-icons text-[1.3rem]"> logout </i>
          <a href="{% url 'logout' %}">登出</a>
        </div>
      </div>

      <div
        class="flex items-center space-x-2 cursor-pointer hover:text-indigo-400"
        id="expand-websetting"
      >
        <i class="material-icons text-[1.3rem]"> settings </i>
        <span>設定</span>
      </div>
    </div>
    {% endif %}
    <!--  -->
  </div>
</section>

{% block scripts %}
<script src="{% static 'js/webSetting.js' %}"></script>
{% endblock %}
