<section>
  <div class="p-4 px-4">
    <div class="pb-2">
      <form action="" method="GET">
        <div class="relative flex flex-wrap justify-center">
          <button
            class="flex items-center rounded-l bg-gray-200 pl-2 py-1.5"
            type="submit"
          >
            <i class="material-icons text-xl"> search </i>
          </button>

          <input
            name="q"
            type="text"
            class="placeholder:text-[0.9rem] bg-gray-200 focus:outline-none rounded-r px-1 w-10/12"
            placeholder="搜尋好友..."
          />
        </div>
      </form>
    </div>

    <div class="p-4 sm:px-2 relative overflow-y-auto h-[650px]">
      <ul class="space-y-2">
        <li class="text-indigo-500 block sm:hidden">
          <div class="flex items-center justify-between">
            <a href="{% url 'rooms' %}">
              <span> 共享社群 </span>
            </a>
          </div>
        </li>

        {% for match_friend in match_friends %}
        <li>
          {% if not match_friend in friends %}
          <div class="flex items-center justify-between">
            <a href="{% url 'user-profile' match_friend.id %}">
              <span class="hover:text-indigo-500 cursor-pointer">
                {{match_friend}}
              </span>
            </a>
            <form action="" method="POST" class="flex">
              {% csrf_token %}
              <input
                type="hidden"
                name="friend_id"
                value="{{ match_friend.id }}"
              />
              {% if request.user.is_authenticated %}
              <button type="submit">
                <i
                  class="material-icons flex text-gray-500 hover:text-indigo-500"
                >
                  group_add
                </i>
              </button>
              {% endif %}
            </form>
          </div>
          {% endif %}
        </li>
        {% endfor %}

        <!-- 判斷使用者是否登入 -->
        {% if request.user.is_authenticated %}
        <li>
          <div class="flex items-center justify-between">
            <a href="{% url 'user-profile' request.user.id %}">
              <span class="text-indigo-500">{{request.user}}</span>
            </a>
          </div>
        </li>
        {% endif %}

        <div class="space-y-2">
          <div class="text-sm text-gray-500">
            <span>好友</span>
            <span>{{friends.count}} </span>
          </div>

          {% for friend in friends %}
          <li>
            <div class="space-y-1">
              <div class="flex items-center justify-between">
                <a href="{% url 'user-profile' friend.id %}">
                  <span class="text-indigo-500">{{friend}}</span>
                </a>
                <form
                  action="{% url 'create-room' %}"
                  method="POST"
                  class="flex"
                >
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="friend_id"
                    value="{{ friend.id }}"
                  />
                  <button
                    type="submit"
                    class="text-indigo-500 hover:text-indigo-400"
                  >
                    <i class="material-icons flex"> sms </i>
                  </button>
                </form>
              </div>
              {% if friend.last_message %}
              <div class="text-[0.78rem] flex justify-between text-gray-500">
                <span>
                  {{ friend.last_message.content|truncatechars:20 }}
                </span>
                <span> {{ friend.last_message_time|date:"H:i" }} </span>
              </div>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </div>
      </ul>
    </div>
  </div>
</section>
